---
layout: projbase
---



<div class="loader"></div>

<script type="text/javascript">
  var faded = false;

  var startFadeOut = function() {
    if (!faded) {
      faded = true;
      $(".loader").fadeOut("slow");
    }
  };

  $(window).load(startFadeOut);
  setTimeout(startFadeOut, 2500);
</script>

<div>
  <script src="/resources/js/reactress-banner.js"></script>
  <div class="banner">
    <div id="bannercenter" class="bannercenter">
      <img src="/resources/images/reactress-banner.jpg"/>
      <div class="bannerlinks">
        <a href="https://github.com/storm-enroute/reactive-collections"><img class="bannerlink" id="link-github" src="/resources/images/icons/github7-gray.png"/></a>
        <a href="https://groups.google.com/forum/#!forum/reactive-collections"><img class="bannerlink" id="link-groups" src="/resources/images/icons/mail8-gray.png"/></a>
        <a href="https://twitter.com/reactivecollect"><img class="bannerlink" id="link-twitter" src="/resources/images/icons/twitter4-gray.png"/></a>
      </div>
    </div>
  </div>

  <div class="bannerdivider">
  </div>

  <div class="bannerlogoholder">
    <div class="bannerlogo">
      <img src="/resources/images/reactress-gradient.png"/>
    </div>
    <div class="bl bl-download">
      <a href='/download/'>
        <img src='/resources/images/icons/download61-gray.png' height='14px'/>
        Download latest version
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-build-status">
      <a href='https://ci.storm-enroute.com:8080/job/public-reactive-collections/'>
        <img src='/resources/images/icons/cogs3-gray.png' height='14px'/>
        <img class="buildstatus" src='https://ci.storm-enroute.com:8080/buildStatus/icon?job=public-reactive-collections' onError="this.src='/resources/images/build-status-passing.png';" />
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-tutorial">
      <a href='/docs/{{ site.reactive_collections_version }}/'>
        Getting started guide
        <img src='/resources/images/icons/graduation20-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
    <div class="bl bl-docs">
      <a href='http://storm-enroute.com/apidocs/reactive-collections/{{ site.reactive_collections_version }}/api'>
        API docs
        <img src='/resources/images/icons/open161-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <div id="main" class="container_16">

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_6 main-description">
      <div>
        <div class="main-items-icon">
          <img src="/resources/images/icons/dark18.png"/>
        </div>
      </div>
      <h2>Event-driven</h2>
      <span>
        Event-driven architecture that
        ensures a better separation of concerns
        and improves composition.
      </span>
    </div>
    <div class="grid_10 main-description">
      <div class="main-code">
<pre><code>// Define digital circuits
def and(a: Signal[Boolean], b: Signal[Boolean]) =
  (a zip b) { _ && _ }
def xor(a: Signal[Boolean], b: Signal[Boolean]) =
  (a zip b) { _ ^ _ }
def halfAdder(a: Signal[Boolean], b: Signal[Boolean]) =
  (xor(a, b), and(a, b))
def logger(name: String, r: Reactive[Boolean]) =
  r.on(v => println(s"$name: $v"))

// Simulate a half-adder
val inputA = RCell(false)
val inputB = RCell(false)
val (sum, carry) = halfAdder(inputA, inputB)
logger("inputA", inputA)
logger("inputB", inputB)
logger("sum", s)
logger("carry", c)
inputA := true
inputB := true
</code></pre>
      </div>
    </div>

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_10 main-description">
      <div class="main-code">
<pre><code>// Fetch contents of a URL
// or fail after a 10 seconds countdown.
val request = system.net
  .url("https://www.ietf.org/rfc/rfc1738.txt")
val timer = system.timer(1.second)
  .map(_ => 1)
  .scanPast(10)(_ - _)
  .takeWhile(_ >= 0)
val timeout = timer.unreacted
timer.onEvent(println)
request
  .until(timeout)
  .ivar
  .orElse("Request failed.")
  .onEvent(println)
</code></pre>
      </div>
    </div>
    <div class="grid_6 main-description">
      <div>
        <div class="main-items-icon">
          <img src="/resources/images/icons/view2.png"/>
        </div>
      </div>
      <h2>Declarative</h2>
      <span>
        Declarative programming style based on functional value
        composition yields programs that are more concise and
        easier to understand.
      </span>
    </div>

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_6 main-description">
      <div>
        <div class="main-items-icon">
          <img src="/resources/images/icons/parallel.png"/>
        </div>
      </div>
      <h2>Concurrent</h2>
      <span>
        Concurrency is achieved by separating
        event propagations into entities called isolates.
        Isolates communicate through typed channels.
      </span>
    </div>
    <div class="grid_10 main-description">
      <div class="main-code">
<pre><code>// Client asks for the server time
class TimeServer extends Iso[(String, Channel[Long])] {
  events.onCase {
    case ("time", response) => response ! System.currentTimeMillis()
  }
}
class Client(server: Channel[(String, Channel[Long])])
extends Iso[String] {
  sysEvents.onCase {
    case IsoStarted => server ! ("time", channel)
  }
  events.onEvent {
    time => println("Server Unix time: " + time)
  }
}

val timeServer = isoSystem.isolate(Proto[TimeServer])
val client = isoSystem.isolate(Proto[Client](timeServer))
</code></pre>
      </div>
    </div>

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_10 main-description">
      <div class="main-code">
<pre><code>// Store ranks of a starship crew and establish the rules
val rank = RMap[String, String]
rank("Geordie") = "Lieutenant"
rank("Deanna") = "Lieutenant"
rank("Data") = "Commander Lieutenant"
rank("Riker") = "Commander"

val numLt: Reactive[Int] =
  rank.react.filter(_._2 == "Lieutenant").size
val shipRank = new Commutoid[(String, String)] {
  val zero = ("nobody", "no-rank")
  val operator = { (x, y) =>
    if (x._2 < y._2) x else y
  }
}
val commandingOfficer: Reactive[String] =
  rank.react.commuteFold(shipRank)

(commandingOfficer zip numLt)((m, n) => (m, n)).onEvent { (m, n) =>
  println(s"${m._1} says: all $n lieutenants shall mop floors!")
}

rank("Picard") = "Captain"
rank("Worf") = "Lieutenant"
</code></pre>
      </div>
    </div>
    <div class="grid_6 main-description">
      <div>
        <div class="main-items-icon">
          <img src="/resources/images/icons/database7.png"/>
        </div>
      </div>
      <h2>Reactive containers</h2>
      <span>
        Reactive data containers contain reactive mutable data.
        Events are triggered when parts of the dataset change.
      </span>
    </div>

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_6 main-description">
      <div>
        <div class="main-items-icon">
          <img src="/resources/images/icons/triangular42.png"/>
        </div>
      </div>
      <h2>GC-friendly</h2>
      <span>
        Eliminates boxing for primitive values such as integers
        and doubles.
        GC pauses were never shorter!
      </span>
    </div>
    <div class="grid_10 main-description">
      <div class="main-code">
<pre><code>// No boxing!
val cell = RCell[Int](0)
val evens = cell.filter(_ % 2 == 0).to[RSet[Int]]
val odds = cell.filter(_ % 2 == 1).to[RSet[Int]]
cell := 1
cell := 2
cell := 3
cell := 4
(evens union odds).foreach(println)
</code></pre>
      </div>
    </div>

    <div class="grid_16 main-description">
      <hr/>
    </div>

    <div class="grid_16">
        And does all this work?

        It sure does.
    </div>

  </div>
</div>












